<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Guestbook</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-2kOE+STGAkgemIkUbGtoZ8dJLqfvJ/xzRnimSkQN7viOfwRvWseF7lqcuNXmjwrL" crossorigin="anonymous">
</head>
<body>

    <h1 class="p-2">
        <a href="/">Express Guestbook</a>
        <a href="/new-entry" class="btn btn-secondary float-right m-2">Write in the Guestbook</a>
    </h1>
    <hr>
